body{
margin:0, auto
}
#quote{ 
//position:absolute;
min-height:100px;
min-width:600px;
padding-left: 14%;
padding-right: 10%;
z-index: -1;
}
.twitter-tweet-button {
position:absolute;
}
#twi{
position:absolute;
display:none;
}
#link{
}

#main{
float:left;
margin-top:0%;
margin-left:38%;
}
#rus{
position:absolute;
margin-top:10px;
}
#triggers{
min-width:300px;
min-height:200px;
}
.chbx_txt{
margin-left: 24px;
margin-top:-22px;
font-family: 'Times New Roman', Times, serif;
font-size: 150%;
}

#tweet_l{
position:absolute;
margin-left: 210px;
}
#sound_st{
padding-top:220px;
}

